<div class="split left">
  <div class="centered">
  <h1>Be in charge,From Just About <br> Anywhere</h1>
  <p>Engaged Employees.Action Data.Increased Productivity.</p><br><br>
  <p>Don't have an account? Sign Up></p><br><br>
  <p>Looking For:</p>
  <br>
  <button (click)='clickTalentHire()' >Talenthire US </button> 
  <button (click)='clickTalentHireIND() ' >Talenthire IND </button>
  <footer>
    <a href="/Privacy Policy/" >Privacy Policy</a> |
    <a href="/Acceptable Use Policy/" >Acceptable Use Policy </a> |
    <a href="/Anti Spam Policy/" > Anti Spam Policy</a>

  </footer>
</div>
</div>

<div class="split right">
  <div class="centered">
  <h1>Sign In</h1>
  <form>
    <label style="color:dodgerblue;" for="username or email">USERNAME OR EMAIL</label><br>
  <br>
  <input style="color:dodgerblue;"id="username or email" type="text">
  <br>
  <nav>
    <a href="/forgot credentials/"> Forgot credentials ? </a> |
    <a href="/unblock/"> Unblock</a>
    <button style= "color:white; background-color: forestgreen;"   type="Next" routerLink="/next">Next</button>
  </nav>

  <footer>
    <p>&copy2019 CEIPAL Corp.All rights reserved</p>
</footer>
</form>
</div>
</div>








