
<div class="grid-container">
  <div class="left">
  <h1>Be in charge,From Just About <br> Anywhere</h1>
  <p>Engaged Employees.Action Data.Increased Productivity.</p><br><br>
  <p>Don't have an account? Sing Up></p><br><br>
  <p>Looking For:</p>
  <br>
  <button type="button">Talenthire US</button>
  <button type="button">Talenthire IND</button>
  <footer>
    <p>Privacy Policy | Acceptable Use Policy | Anti Spam Policy</p>
  </footer>
</div>



<div class="right">


  <h1>Sign In</h1>

<form>

  <label style="color:dodgerblue;" for="username or email">USERNAME OR EMAIL</label><br>
  <br>
  <input style="color:dodgerblue;"id="username or email" type="text">
  <br>

  <a href="#"> Forgot credentials ? </a> |

  <a href="#"> Unblock</a>


  <button style= "color:white; background-color: forestgreen;"   type="Next">Next</button>
<footer>
  <p>&copy2019 CEIPAL Corp.All rights reserved</p>
</footer>
</form>
</div>
</div>


